[Unit]
Description=GophishFR
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/{{ gophish_user }}/gophish_deploy/
ExecStart="/home/{{ gophish_user }}/gophish_deploy/gophishfr"
User={{ gophish_user }}
PIDFile="/home/{{ gophish_user }}/gophish_deploy/gophishfr.pid"
[Install]
WantedBy=multi-user.target
