{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GophishFR - Security Awareness Simulation Platform">
    <meta name="author" content="Vesperis Group">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{{ .Title }} - GophishFR</title>

    <link href="/css/dist/gophish.css" rel="stylesheet" type="text/css">
    <script>
        {{if .User}}
    var user = {
        api_key : {{ .User.ApiKey }},
        username : {{ .User.Username }}
    }
    {{end}}
    {{if .Token}}
        var csrf_token = {{.Token}}
    {{end}}
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-gophishfr fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="/images/logo_inv_small.png" alt="GophishFR" />
                &nbsp;GophishFR
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {{if .User}}
                        <div class="btn-group" id="navbar-dropdown">
                            <a class="btn btn-primary" href="/settings"><i class="fa fa-user"></i> {{.User.Username}}</a>
                            <a class="btn btn-primary" href="/logout" aria-label="Log out">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>
                        {{else}}
                        <a href="/login" class="btn btn-primary">Login</a>
                        {{end}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{template "nav" .}}
    {{template "body" .}}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js"></script>
    <script src="/js/dist/app/gophish.min.js"></script>
    {{template "scripts" .}}
</body>

</html>
{{ end }}
